In [39]:
import pandas as pd
import numpy as np

speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0, 'agdad'),
        ("bird", "Falconiformes", 289.0, 'aegq'),
        ("bird", "Falconiformes", 189.0, 'egeqg'),
        ("bird", "Psittaciformes", 24.0, 'gqghq'),
        ("mammal", "Carnivora", 80.2, 'rhwr'),
        # ("mammal", "Primates", np.nan, 'rhgrh'),
        ("mammal", "Carnivora", 58,'joijrop'),
    ],
    # index=["falcon", "falcon", "falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed", "random_column"),
)

speeds

    class           order  max_speed random_column
0    bird   Falconiformes      389.0         agdad
1    bird   Falconiformes      289.0          aegq
2    bird   Falconiformes      189.0         egeqg
3    bird  Psittaciformes       24.0         gqghq
4  mammal       Carnivora       80.2          rhwr
5  mammal       Carnivora       58.0       joijrop

In [40]:
grouped = speeds.groupby(["class", "order"])

# Get all groups
all_groups = grouped.groups
print(all_groups.keys())

dict_keys([('bird', 'Falconiformes'), ('bird', 'Psittaciformes'), ('mammal', 'Carnivora')])

In [41]:
# find max of all groups
max_speeds = grouped.max()
print(max_speeds)
# cols = max_speeds[["random_column"]]
# print(cols)

                       max_speed random_column
class  order
bird   Falconiformes       389.0         egeqg
       Psittaciformes       24.0         gqghq
mammal Carnivora            80.2          rhwr

In [42]:
grouped = speeds.groupby(["class", "order"]).get_group(('bird', 'Falconiformes'))
print(grouped)
print(grouped['max_speed'].mean())

  class          order  max_speed random_column
0  bird  Falconiformes      389.0         agdad
1  bird  Falconiformes      289.0          aegq
2  bird  Falconiformes      189.0         egeqg
289.0

In [47]:
# Get all groups
grouped = speeds.groupby(["class", "order"])
all_groups = list(grouped.groups.keys())
print(all_groups)


agg_values = []

for group in all_groups:
    print(group)
    agg_val = grouped.get_group(group)['max_speed'].mean()
    print(agg_val)
    agg_values.append(agg_val)

idx = np.argmax(agg_values)
agg_result_group = all_groups[idx]
print(agg_result_group)
selected_val = agg_values[idx]
print(selected_val)

[('bird', 'Falconiformes'), ('bird', 'Psittaciformes'), ('mammal', 'Carnivora')]
('bird', 'Falconiformes')
289.0
('bird', 'Psittaciformes')
24.0
('mammal', 'Carnivora')
69.1
('bird', 'Falconiformes')
289.0

In [24]:
grouped = speeds.groupby(["class", "order"])
grouped.get_group(("bird", "Falconiformes")).max().iloc[-1]  # get actual agg value
#grouped.get_group(("bird", "Falconiformes")).max().iloc[2]

389.0