In [26]:
import pandas as pd
import numpy as np

# tbl = '~/TPC-H V3.0.1/dbgen/orders.tbl'
tbl = '~/TPC-H V3.0.1/dbgen/customer.tbl'
out_fname = 'c_phone'

df = pd.read_csv(tbl, header=None, delimiter='|')
# drop the last column
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)

In [27]:
print(df.head())
# df[4].head()
# strdf = df[len(df.columns)-1]
strdf = df[4]
strdf.head()

   0                   1                               2   3                4  \
0  1  Customer#000000001               IVhzIApeRb ot,c,E  15  25-989-741-2988
1  2  Customer#000000002  XSTf4,NCwDVaWNe6tEgvwfmRchLXak  13  23-768-687-3665
2  3  Customer#000000003                    MG9kdTD2WBHm   1  11-719-748-3364
3  4  Customer#000000004                     XxVSJsLAGtn   4  14-128-190-5944
4  5  Customer#000000005    KvpyuHCplrB84WgAiGV6sYpZq7Tj   3  13-750-942-6364

         5           6  \
0   711.56    BUILDING
1   121.65  AUTOMOBILE
2  7498.12  AUTOMOBILE
3  2866.83   MACHINERY
4   794.47   HOUSEHOLD

                                                                                                        7
0                                          to the even, regular platelets. regular, ironic epitaphs nag e
1                                         l accounts. blithely ironic theodolites integrate boldly: caref
2   deposits eat slyly ironic, even instructions. express foxes detect slyly. blithely even accounts abov
3                                                        requests. final, regular ideas sleep final accou
4                                                      n accounts will have to unwind. foxes cajole accor

0    25-989-741-2988
1    23-768-687-3665
2    11-719-748-3364
3    14-128-190-5944
4    13-750-942-6364
Name: 4, dtype: object

In [5]:
# add '\n' to the end of each string
# strdf = strdf + '\n'
# strdf.head()

0     PROMO BURNISHED COPPER\n
1        LARGE BRUSHED BRASS\n
2    STANDARD POLISHED BRASS\n
3         SMALL PLATED BRASS\n
4      STANDARD POLISHED TIN\n
Name: 4, dtype: object

In [23]:
import re
# use re to match sql string '%special%requests%'
m = re.search(r'.+special.+requests.+', strdf.to_string())

In [29]:
m.group(0)

'5          ggle. special, final requests are against the ...'

In [28]:
# write all the strings to a file
# with open('part.txt', 'w') as f:
#     f.write(strdf.to_string(index=False, header=False))

pd.set_option('display.max_colwidth', None)
# concat_str = strdf.to_string(index=False, header=False)
concat_str = strdf.str.cat(sep='\n')
print(len(concat_str))
print(concat_str[-100:-1])
# write the string to a file
with open(out_fname+'.txt', 'w') as f:
    f.write(concat_str)

2399999
4038
20-743-338-6282
20-149-234-3062
31-694-123-5061
12-860-414-6024
11-401-828-7411
20-354-401-201